In [1]:
import pandas as pd

In [2]:
file_path = 'df.csv'
df = pd.read_csv(file_path)
df

              category     amt state         dob  is_fraud
0          grocery_pos  107.23    WA  1978-06-21         0
1        entertainment  220.11    ID  1962-01-19         0
2          grocery_pos   96.29    CA  1945-12-21         0
3         shopping_pos    7.77    NM  1967-08-30         0
4             misc_pos    6.85    WY  1967-08-02         0
...                ...     ...   ...         ...       ...
339602            home   12.68    AK  1939-11-09         0
339603       kids_pets   13.02    CA  1958-09-20         0
339604  health_fitness   43.77    MO  1966-02-13         0
339605       kids_pets   86.88    WA  1981-11-29         0
339606          travel    7.99    ID  1965-12-15         0

[339607 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339607 entries, 0 to 339606
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   category  339607 non-null  object
 1   amt       339607 non-null  float64
 2   state     339607 non-null  object
 3   dob       339607 non-null  object
 4   is_fraud  339607 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 13.0+ MB

In [4]:
df.dtypes

category     object
amt         float64
state        object
dob          object
is_fraud      int64
dtype: object

In [5]:
df['dob'] = pd.to_datetime(df['dob']).dt.year
df['dob'] = 2024 - df['dob']

In [6]:
df['dob']

0         46
1         62
2         79
3         57
4         57
          ..
339602    85
339603    66
339604    58
339605    43
339606    59
Name: dob, Length: 339607, dtype: int32

In [9]:
df.dtypes

category     object
amt         float64
state        object
dob           int32
is_fraud      int64
dtype: object

In [11]:
df.rename(columns={'dob':'age', 'amt':'amount'}, inplace=True)
df

              category  amount state  age  is_fraud
0          grocery_pos  107.23    WA   46         0
1        entertainment  220.11    ID   62         0
2          grocery_pos   96.29    CA   79         0
3         shopping_pos    7.77    NM   57         0
4             misc_pos    6.85    WY   57         0
...                ...     ...   ...  ...       ...
339602            home   12.68    AK   85         0
339603       kids_pets   13.02    CA   66         0
339604  health_fitness   43.77    MO   58         0
339605       kids_pets   86.88    WA   43         0
339606          travel    7.99    ID   59         0

[339607 rows x 5 columns]